@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Inter&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  user-select: none;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: white;
  background: #fff;
  backdrop-filter: blur(3px);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.rectangle-triangle-container {
  position: relative;
  width: 0;
  height: 0;
  margin: 20px auto;
}

.rectangle-triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid blue;
  transition: border-bottom-width 0.5s; /* Анимация изменения высоты прямоугольного треугольника */
}

.MuiSlider-root {
  padding: 0 !important;
}

.MuiSlider-markLabel {
  top: 15px !important;
}

.active {
  color: white;
  background-color: #66a8ba !important
}

.placeholder-main {
  color: #66a8ba !important;
}

.outline-none-important:after {
  outline: none !important
}

.outline-none-important:focus {
  opacity: 0.8;
  outline: none !important
}

wui-text > text {
  color: #66a8ba !important;
}

w3m-account-button {
  border: 1px solid rgba(0, 0, 0, 0.56) !important;
  border-radius: 25px;
}

w3m-modal {
  height: 100vh !important;
}


/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}